@model PagedList.IPagedList<DOWNLOAD>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Download";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12" style="margin-top: 50px;">
        <a href="@Url.Action("Download_Create", "Admin")" class="btn btn-success pull-right">เพิ่มรายการ</a>
        <h2>Download</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>ชื่อ</td>
                    <td>Path</td>
                    <td>สถานะ</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.ID</td>
                        <td>@item.NAME</td>
                        <td>@item.PATH</td>
                        <td>
                            @if (item.STATUS == 1)
                            { @Html.Raw("เปิด") }
                            else
                            { @Html.Raw("ปิด") }
                        </td>
                        <td><a href="@Url.Action("Download_Edit", "Admin", new { id = item.ID })" class="btn btn-xs btn-warning">ดู/แก้ไข</a></td>
                    </tr>
                }
            </tbody>
        </table>
        <br />
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

        @Html.PagedListPager(Model, page => Url.Action("Download", new { page }))
    </div>
</div>


