@{
    ViewBag.Title = "Service";
}

@{
    SERVICE_CATE service = (SERVICE_CATE)ViewData["oService"];
}
<div class="breadcrumb-container">
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">หน้าแรก</a></li>
                <li class="breadcrumb-item"><a href="@Url.Action("ServiceList", "Home")">บริการ</a></li>
                <li class="breadcrumb-item active" aria-current="page">@service.NAME</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container-fluid mb-3">
    <div class="card card-style1">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 mb-3 mb-md-0">
                    <img src="@Url.Content("~/"+service.IMAGE)" alt="About Us" class="w-100">
                </div>
                <div class="col-md-6">
                    <h2>@service.NAME</h2>
                    <p>@Html.Raw(service.DESCRIPTION)</p>
                </div>
            </div>
        </div>
    </div>
</div>